%h1= current_page.title
- if has_content? :constitution
  %h2 Constitution
  = link_to content(:constitution).filename, main_app.url_for(content(:constitution))
%h2 Minutes
- content(:minutes)&.attachments&.each do |meeting|
  = link_to meeting.name, main_app.url_for(meeting.content)
%h2 Partner societies
- content(:partner_societies)&.structure_items&.each do |society|
  %address
    = society.content(:name)
    - if society.has_content? :website
      %br
      %a{href: society.content(:website)} Website
    - if society.has_content? :email_address
      %br
      %a{href: "mailto:" + society.content(:email_address)}= society.content(:email_address)
%h2 Contact
= content(:contact).try(:html_safe)
