- content_for :content do
  = render "#{current_theme.name}/shared/alert" if current_account.has_content? :current_conference_alert
  = yield :hero
  .px-3.px-md-4
    .container-md
      .my-4= yield :header
      .my-4= yield
      %footer.my-4= render "#{current_theme.name}/shared/footer"

= render template: "layouts/#{current_theme.name}/base"
