!!!
%html.height-full{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'author', content: 'ULAB committee'}
    %meta{name: 'description', content: current_page.description}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'keywords', content: 'linguistics, conference, undergraduate, UK, Britain'}
    %meta{name: 'og:title', content: current_page.seo_title}
    %meta{name: 'og:description', content: current_page.description}
    %base{target: '_blank'}
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}
    %title= "#{current_page.seo_title} — #{current_account.name}"
    = render 'spina/shared/google_site_verification'
    = render 'spina/shared/analytics'
    = stylesheet_link_tag "#{current_theme.name}/application", media: 'all', data: { turbolinks_track: true }
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body.bg-light.height-full.d-flex.flex-column
    = render 'spina/shared/admin_bar'
    = spina_link
    %header
      .px-3.px-md-4.my-4
        .container-md.d-flex.flex-lg-justify-between.flex-column.flex-lg-row
          .d-flex.flex-lg-self-center.flex-lg-auto.mr-lg-2
            = image_tag 'lockup.svg', class: [:logo, 'd-inline-block', 'align-top', 'mr-3'], draggable: false, height: 80
          .d-lg-none.mt-3
            %details.details-reset
              %summary.btn.btn-outline
                = octicon 'three-bars'
              = main_navigation %w[d-flex flex-column flex-self-stretch mt-3], %w[d-block py-2 border-top border-black-fade], %w[d-block py-2 border-top border-black-fade text-bold], request
          .d-none.d-lg-flex.flex-justify-end
            = main_navigation %w[flex-self-center flex-shrink-0], %w[px-md-1 px-lg-2], %w[px-md-1 px-lg-2 text-bold], request

      .box-shadow-medium.px-3.px-md-4.py-2.mt-4
        .container-md= render "#{current_theme.name}/shared/breadcrumbs"

    = content_for?(:content) ? yield(:content) :yield

    = render 'spina/shared/social'
