!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'author', content: 'ULAB committee'}
    %meta{name: 'description', content: current_page.description}
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{name: 'keywords', content: 'linguistics, conference, undergraduate, UK, Britain'}
    %meta{name: 'og:title', content: current_page.seo_title}
    %meta{name: 'og:description', content: current_page.description}
    %base{target: '_blank'}
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-preview'}
    %title= "#{current_page.seo_title} — #{current_account.name}"
    = render 'spina/shared/google_site_verification'
    = render 'spina/shared/analytics'
    = stylesheet_link_tag "#{current_theme.name}/application", media: 'all', data: {turbolinks_track: true}
    = javascript_include_tag "#{current_theme.name}/application", data: {turbolinks_track: true}
  %body
    = render 'spina/shared/admin_bar'
    .content
      %div
        %header
          = link_to root_path do
            - image_tag 'logo.svg', class: :logo, draggable: false
          %address Undergraduate Linguistics Association of Britain
          %details{ open: true }
            %summary Navigation
            = render "#{current_theme.name}/shared/navigation"
        %footer
          = render "#{current_theme.name}/shared/footer"
          = render 'ulab_conference/shared/cookies'
          %small
            = "© ULAB #{Date.today.year}"
      = content_for?(:content) ? yield(:content) :yield
    = spina_link
    = render 'spina/shared/social'
