.d-md-flex.flex-items-start.my-4
  = responsive_image_tag committee_bio.content(:profile_picture).file, variant: { resize_to_limit: [150, 150] }, draggable: false, class: %w[avatar flex-shrink-0 mr-md-3 mb-3 mb-md-0], alt: committee_bio.content(:name) if committee_bio.has_content? :profile_picture
  %div
    %h3.d-md-flex.mb-1
      .flex-auto.mb-1.mb-md-0<
        = committee_bio.content(:name) if committee_bio.has_content? :name
        = precede ', ' do
          = committee_bio.content(:role) if committee_bio.has_content? :role
      - if committee_bio.has_content?(:twitter_profile) || committee_bio.has_content?(:facebook_profile)
        .BtnGroup.flex-shrink-0.mt-1.mt-md-0.ml-md-1{ role: :group, aria: { label: 'Contact buttons' } }
          = link_to 'Twitter', committee_bio.content(:twitter_profile), class: %w[button btn BtnGroup-item], role: :button if committee_bio.has_content? :twitter_profile
          = link_to 'Facebook', committee_bio.content(:facebook_profile), class: %w[button btn BtnGroup-item], role: :button if committee_bio.has_content? :facebook_profile
    .text-small.text-gray-light= committee_bio.content(:bio).try(:html_safe) if committee_bio.has_content? :bio
