%li.d-flex.flex-column.flex-md-row-reverse.flex-justify-start.flex-md-justify-between.py-4.border-bottom
  = responsive_image_tag conference.institution.logo.file, variant: { resize_to_limit: [300, 60] }, draggable: false, class: %w[pl-md-4 pb-4 pb-md-0] unless conference.institution.logo.blank?
  .flex-auto
    %h3.mb-1
      = link_to conference.conference_page.title, conference.conference_page.materialized_path
    .text-gray
      %div
        = time_tag conference.dates.min, l(conference.dates.min, format: :long)
        to
        = time_tag conference.dates.max, l(conference.dates.max, format: :long)
      %address<
        = "#{conference.institution.name}"
        = ", #{conference.institution.city}" unless conference.institution.name.include? conference.institution.city
