- content_for(:header) do
  = render "#{current_theme.name}/shared/title"
- cache current_page do
  = content(:text).try(:html_safe)
  - if has_content?(:committee_bios) && content(:committee_bios).structure_items.present?
    %h2 Role-holding committee members
    %div
      - @members = content(:committee_bios).structure_items.sort_by { |member| member.content(:name) } || content(:committee_bios).structure_items
      - @members.each do |member|
        %article.no-link.figure-left
          %div
            %header
              %h3= member.content(:name) if member.has_content? :name
              %h4= member.content(:role) if member.has_content? :role
            = member.content(:bio).try(:html_safe) if member.has_content? :bio
            - if member.has_content?(:twitter_profile) || member.has_content?(:facebook_profile)
              %ul{class: :buttons}
                %li= link_to 'Twitter', member.content(:twitter_profile), class: :button if member.has_content? :twitter_profile
                %li= link_to 'Facebook', member.content(:facebook_profile), class: :button if member.has_content? :facebook_profile
          %figure= image_tag variant(member.content(:profile_picture).file, resize: '600x600'), draggable: false, class: :profile_picture if member.has_content? :profile_picture
