- content_for(:header) do
  .pagehead.my-4
    %h1.mb-1= current_page.title
    .text-gray
      - presentation.presenters.each do |presenter|
        %address
          = "#{presenter.full_name}, #{presenter.institution.name}"
      = time_tag presentation.start_datetime, l(presentation.start_datetime, format: :short)
      = presentation.room_use.room_name

.markdown-body.my-4= presentation.abstract.try(:html_safe)
