- content_for :header do
  .pagehead.my-4
    %h1.mb-1= current_page.title
    .text-gray
      - presentation.presenters.includes(:institution).each do |presenter|
        %address= "#{presenter.full_name}, #{presenter.institution.name}"
      = time_tag presentation.start_datetime, l(presentation.start_datetime, format: :short)
      %div= presentation.room_use.room_name
    - if has_content?(:slideshow) || has_content?(:handout) || has_content?(:poster)
      .BtnGroup.mt-1
        = render part(:slideshow)
        = render part(:handout)
        = render part(:poster)
    = link_to conferences_presentation_url(presentation, format: :ics), class: %w[btn btn-primary mt-1], role: :button do
      = octicon 'calendar'
      Download


- content_for :content do
  .markdown-body.my-4= presentation.abstract.html_safe
