- content_for(:header) do
  = render "#{current_theme.name}/shared/title"
  %address
    - presentation.presenters.each do |presenter|
      = "#{presenter.full_name}, #{presenter.institution.name}"
  = time_tag presentation.start_time, l(presentation.start_time, format: :short)
  = presentation.room_use.room_name

= presentation.abstract.try(:html_safe)
