= render committee_bios, name: 'Committee bios' do |committee_bio|
  .d-md-flex.flex-items-start.my-4
    = render committee_bio.parts.find_by(name: :profile_picture), alt: committee_bio.content(:name), class: %w[mr-md-3 mb-3 mb-md-0]
    %div
      %h3.d-md-flex.mb-1
        .flex-auto.mb-1.mb-md-0<
          = committee_bio.content(:name)
          = precede ', ' do
            = committee_bio.content(:role)
        - if committee_bio.has_content?(:twitter_profile) || committee_bio.has_content?(:facebook_profile)
          .BtnGroup.flex-shrink-0.mt-1.mt-md-0.ml-md-1{ role: :group, aria: { label: 'Contact buttons' } }
            = link_to committee_bio.content(:twitter_profile), class: %w[button btn BtnGroup-item], role: :button do
              = octicon 'link-external'
              Twitter
            = link_to committee_bio.content(:facebook_profile), class: %w[button btn BtnGroup-item], role: :button do
              = octicon 'link-external'
              Facebook
      .text-gray-light= committee_bio.content(:bio).try(:html_safe) if committee_bio.has_content? :bio
