.flex-auto.d-flex.flex-column{ style: 'z-index: 0;' }
  .py-3{ style: 'background: no-repeat top center/contain url("images/banner.png"); height: 40vh;' }
  -# - cache [latest_conference, @page] do
    = render content(:gallery)&.images&.any? ? content(:gallery) : 'shared/jumbotron', advance: true do
      .py-3.py-lg-6{ style: '; background: top left/cover url("images/banner-large.jpg");' }
        .text-white
          %p.h000-mktg.text-shadow-dark.lh-condensed-ultra= latest_conference.name
          %address.f2-light.text-shadow-dark= latest_conference.institution.name
          %time.f2-light.text-shadow-dark<
            = time_tag latest_conference.start_date, latest_conference.start_date.strftime('%d/%m')
            –
            = time_tag latest_conference.finish_date, latest_conference.finish_date.strftime('%d/%m')
          .markdown-body.my-4.text-shadow-dark= content(:text).try(:html_safe)

