- content_for(:header) do
  = render "#{current_theme.name}/shared/title"

= link_to conferences_conferences_url(protocol: :webcal, format: :ics), class: :button do
  Subscribe to conferences calendar

%section
  - if Spina::Conferences::Conference.sorted.any?
    - Spina::Conferences::Conference.sorted.each do |conference|
      %article
        = link_to conference.conference_page.materialized_path do
          - if conference&.institution&.logo
            %figure
              = image_tag variant(conference.institution.logo.file, resize: '600x600'), width: 200, draggable: false
          %h2
            = conference.conference_page.title
          %div
            = time_tag conference.dates.begin, l(conference.dates.begin, format: :long)
            to
            = time_tag conference.dates.end, l(conference.dates.end, format: :long)
          %address<
            = "#{conference.institution.name}"
            = ", #{conference.institution.city}" unless conference.institution.name.include? conference.institution.city
