= link_to presentation.conference_page.materialized_path do
  %article
    %h3
      = presentation.title
    %address
      - presentation.presenters.each do |presenter|
        = "#{presenter.full_name}, #{presenter.institution.name}"
